{% extends 'blog/base.html' %}
{% block content %}

    <h1>About Our Blog</h1>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Member #1</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">baha228 <small class="text-muted"></small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Bakhtiyar</li>
                        <li>Bauyrzhan</li>
                        <li>Frontend and backend</li>
                        <li>ITSE-1910</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Member #2</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">mura0x0 <small class="text-muted"></small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Muratbek</li>
                        <li>Sharibekov</li>
                        <li>Frontend and backend</li>
                        <li>ITSE-1910</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2906.7764533415298!2d76.9075561154458!3d43.235146379137895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3883692f027581ad%3A0x2426740f56437e63!2z0KXQsNC70YvSm9Cw0YDQsNC70YvSmyDQsNKb0L_QsNGA0LDRgtGC0YvSmyDRgtC10YXQvdC-0LvQvtCz0LjRj9C70LDRgCDRg9C90LjQstC10YDRgdC40YLQtdGC0ZY!5e0!3m2!1sen!2skz!4v1640252236509!5m2!1sen!2skz"
                width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </p>
{% endblock content %}
